* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

/* sidebar */

.sidebar {
    width: 240px;
    /* background: linear-gradient(#68C2D4, #38798A, #597999 ); */
    color: #000;
    background-color: rgb(204, 220, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
}

.sidebar-header {
    text-align: center;
    padding: 1.8rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    background-image: url('https://media.istockphoto.com/id/1146368775/pt/vetorial/abstract-blue-square-background.jpg?s=612x612&w=0&k=20&c=tRLKkhb4TMKoKCkL11j1f1ij25zfNqPHKi-F9K9Ic-o=');
    background-size: cover;
    border-radius: 10px;
}

.sidebar-header h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0.5rem;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 30px;
}

.nav-links li {
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.nav-links li:hover,
.nav-links li.active {
    background-color: #002244;
    color: floralwhite;
}

.logout {
    padding: 15px;
    background: #023e83;
    color: #f4f6f9;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    transition: background 0.3s;
}

.logout:hover {
    background: #000f2a;
    color: floralwhite;
}

.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    transition: opacity 0.3s;
}

.cards-container {
    padding: 10px;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.card h4 {
    color: #003366;
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #003366;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade {
    margin-top: 1.2rem;
    animation: fadeIn 0.4s ease;
}

#btnBackupHoje {
    background-color: #007bff;
    color: white;
}

#btnBackupHoje:hover {
    background-color: #0056b3;
}