body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f5f6fa;
    color: #333;
    margin: 0;
    background-image: url(/fundoProf.jpg);
}

.topbar {
    background: #003366;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    background: rgb(203, 222, 240);
    border: 1px solid #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #333;
}

h3 {
    margin-top: 1.5rem;
    border-bottom: 2px solid #003366;
    padding-bottom: 0.5rem;
}

.btn {
    background: #003366;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: #0055aa;
}

input[type="file"] {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th,
table td {
    border: 1px solid #333;
    padding: 0.5rem;
    text-align: left;
}

table th {
    background: #003366;
    color: white;
}

#logout {
    background: #74b8fc;
    color: #333;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

#logout:hover {
    background: #0055aa;
    font-weight: 700;
    color: #f5f5f5;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.modal h2 {
    margin-bottom: 0.5rem;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mensagem {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.mensagem.sucesso {
  color: #198754; /* verde */
}

.mensagem.erro {
  color: #dc3545; /* vermelho */
}
